html {
    font-family: 'Archivo Narrow', sans-serif;
}

header {
    background-color: black;
    padding: 1em;
    padding-bottom: 1.5em;
}

#logo {
    float: left;
    margin-right: 1em;
}

#logotext {
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav {
    background-color: black;
    padding-left: 1em;
}

.navbaritem {
    font-family: 'Archivo Narrow', sans-serif;
    margin-right: 3%;
    text-decoration: none;
    color: white;
}

.navbaritem:visited {
    text-decoration: none;
    color: white;
}

main p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 110%;
}

main {
    margin-bottom: 5%;
}